
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">판매 등록</h5>
    <form th:object="${sellForm}" method="post" enctype="multipart/form-data">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" th:field="*{title}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">카테고리</label>
            <input type="text" th:field="*{category}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="region" class="form-label">지역</label>
            <input type="text" th:field="*{region}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea th:field="*{content}" class="form-control" rows="10"></textarea>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">가격</label>
            <input type="number" th:field="*{price}" class="form-control" style="width: 10%" step="1000" min="0">
        </div>
        <div class="mb-3">
            <label for="upload">업로드</label>
            <input type="file" class="form-control" id="upload" name="upload">
            <p th:if="${filename != null}" th:text="|업로드 했던 파일 : ${filename}|" class="card-text"></p>
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>
</div>
</html>