<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <a th:href="@{/sell/create}" class="btn btn-primary">판매글 등록</a>
    <section class="bg-light py-4 my-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-3 text-primary text-center">판매 상품들</h2>
                </div>
                <div class="col-md-6 col-lg-4" th:each="sell : ${sellList}">
                    <div class="card my-3">
                        <img th:if="${sell.getImgPath == null}" src="/images/noimg.gif" class="card-image-top img-thumbnail" alt="thumbnail" style="height: 200px">
                        <img th:if="${sell.getImgPath != null}" th:src="@{${sell.getImgPath}}" class="card-image-top img-thumbnail" alt="thumbnail" style="height: 200px">
                        <div class="card-body">
                            <h5 class="card-title text-center"><a th:href="@{|/sell/${sell.id}|}" class="text-secondary"
                                                                  th:text="${sell.subject}">제목이 들어감</a>
                            <span class="text-danger small ms-2" th:if="${#lists.size(sell.buyList) > 0}" th:text="${#lists.size(sell.buyList)}"></span>
                            </h5>
                            <div style="display: flex; justify-content: space-between">
                                <p class="card-text text-success" th:if="${sell.author != null}" th:text="${sell.author.username}">글쓴이</p>
                                <p class="card-text text-success" th:if="${sell.author == null}" th:text="글쓴이"></p>
                                <p class="card-text text-danger" th:if="${sell.price != null}" th:text="${sell.price} + 원">가격</p>
                                <p class="card-text text-danger" th:if="${sell.price == null}" th:text="null원">가격</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</html>