<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <a th:href="@{/sell/create}" class="btn btn-primary">판매글 등록</a>
    <section class="bg-light py-4 my-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-3 text-primary text-center">판매 상품들</h2>
                </div>
                <div class="col-md-6 col-lg-4" th:each="sell : ${sellList}">
                    <div class="card my-3">
                        <img src="https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg"
                             class="card-image-top" alt="thumbnail">
                        <div class="card-body">
                            <h5 class="card-title text-center"><a th:href="@{|/sell/${sell.id}|}" class="text-secondary"
                                                                  th:text="${sell.subject}">제목이 들어감</a></h5>
                            <p class="card-text text-center">가격</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</html>