<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">

    <h2 class="border-bottom py-2" th:text="${sell.subject}"></h2>

    <div class="card my-3">
        <div class="card-body">
            <img th:if="${sell.getImgPath == null}" src="/images/noimg.gif" class="img-fluid">
            <img th:if="${sell.getImgPath != null}" th:src="@{${sell.getImgPath}}" class="img-fluid">
            <div class="card-text" style="white-space: pre-line;" th:text="${sell.content}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start mx-1">
                    <div class="mb-2">판매 가격</div>
                    <div th:if="${sell.price != null}" th:text="${sell.price} + 원"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start mx-1">
                    <div class="mb-2">판매자</div>
                    <div th:if="${sell.author != null}" th:text="${sell.author.username}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start mx-1">
                    <div class="mb-2">작성일</div>
                    <div th:text="${#temporals.format(sell.createdAt, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start mx-1">
                    <div class="mb-2">최종 수정일</div>
                    <div th:text="${#temporals.format(sell.updatedAt, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a th:href="@{|/sell/modify/${sell.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${sell.author != null and #authentication.getPrincipal().getUsername() == sell.author.username}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/sell/delete/${sell.id}|}"
                   class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${sell.author != null and #authentication.getPrincipal().getUsername() == sell.author.username}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>

    <h5 class="border-bottom my-3 py-2"
        th:text="|${#lists.size(sell.getCommentList)}개의 답변이 있습니다.|"></h5>

    <div class="card my-3" th:each="comment : ${sell.getCommentList}">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${comment.content}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start mx-1">
                    <div class="mb-2">작성자</div>
                    <div th:if="${comment.author != null}" th:text="${comment.author.username}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start mx-1">
                    <div class="mb-2">작성일</div>
                    <div th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start mx-1">
                    <div class="mb-2">최종 수정일</div>
                    <div th:text="${#temporals.format(comment.updatedAt, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a th:href="@{|/comment/modify/${comment.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.author.username}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/comment/delete/${comment.id}|}"
                   class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.author.username}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>

    <form th:action="@{|/comment/${sell.id}|}" method="post" th:object="${commentForm}" class="my-3">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" rows="10"
                  class="form-control"></textarea>
        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" rows="10" class="form-control"></textarea>
        <input type="submit" value="답변등록" class="btn btn-primary my-2">
    </form>
</div>
<script layout:fragment="script" type="text/javascript">
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });
</script>
</html>