<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">

    <h2 class="border-bottom py-2" th:text="${sell.title}"></h2>
    <div class="badge"
         th:classappend="${sell.sellState.name() == 'SELLING' ? 'bg-primary text-white' :
                   sell.sellState.name() == 'RESERVED' ? 'bg-warning' :
                   sell.sellState.name() == 'SOLD_OUT' ? 'bg-danger text-white' : 'bg-light text-dark'}">
        <div class="mb-2">상태</div>
        <div th:if="${sell.sellState.name() == 'SELLING'}">판매중</div>
        <div th:if="${sell.sellState.name() == 'RESERVED'}">예약중</div>
        <div th:if="${sell.sellState.name() == 'SOLD_OUT'}">거래완료</div>
    </div>



    <span th:if="${sell.category}" class="text-secondary">
                                        <span> (카테고리: </span>
                                        <span th:text="${sell.category}"></span>
                                        <span>)</span>
                                    </span>
    <div class="card my-3">
        <div class="card-body">
            <img th:if="${sell.getImgPath == null}" src="https://no-yongsan-yes-doksan.s3.ap-northeast-2.amazonaws.com/noimg.gif" class="img-fluid">
            <img th:if="${sell.getImgPath != null}" th:src="@{${sell.getImgPath}}" class="img-fluid">
            <div class="card-text" style="white-space: pre-line;" th:text="${sell.content}"></div>
            <div class="d-flex">
                <div class="badge bg-light text-dark p-2">
                    <div class="mb-2">판매 가격</div>
                    <div th:if="${sell.price != null}" th:text="${sell.price} + 원"></div>
                </div>
                <div class="badge bg-light text-dark p-2">
                    <div class="mb-2">판매자</div>
                    <div th:if="${sell.author != null}" th:text="${sell.author.username}"></div>
                </div>
                <div class="badge bg-light text-dark p-2">
                    <div class="mb-2">지역</div>
                    <div th:if="${sell.region != null}" th:text="${sell.region}"></div>
                </div>
            </div>
            <div class="d-flex mt-3">
                <div class="badge bg-light text-dark p-2">
                    <div class="mb-2">작성일</div>
                    <div th:text="${#temporals.format(sell.createdAt, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2">
                    <div class="mb-2">최종 수정일</div>
                    <div th:text="${#temporals.format(sell.updatedAt, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2">
                    <div class="mb-2">조회수</div>
                    <div th:if="${sell.viewCount != null}" th:text="${sell.viewCount}"></div>
                </div>
            </div>
            <div class="my-3">
                <a href="javascript:void(0);" class="like btn btn-sm btn-outline-secondary"
                   th:data-uri="@{|/sell/toggleLike/${sell.id}|}">
                    좋아요
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(sell.likedUser)}"></span>
                </a>
                <div class="my-3">
                    <h6>이 상품을 좋아요 누른 사용자들:</h6>
                    <ul>
                        <li th:each="user : ${likedUsers}" th:text="${user.username}"></li>
                    </ul>
                </div>
                <a th:href="@{|/sell/modify/${sell.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${sell.author != null and #authentication.getPrincipal().getUsername() == sell.author.username}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/sell/delete/${sell.id}|}"
                   class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${sell.author != null and #authentication.getPrincipal().getUsername() == sell.author.username}"
                   th:text="삭제"></a>

                <a href="javascript:void(0);" th:data-uri="@{|/sell/markReserved/${sell.id}|}"
                   class="markReserved btn btn-sm btn-outline-secondary bg-warning text-white" sec:authorize="isAuthenticated()"
                   th:if="${sell.author != null and #authentication.getPrincipal().getUsername() == sell.author.username and (sell.sellState.name() == 'SELLING' or sell.sellState.name() == 'SOLD_OUT')}">
                    예약중으로 변경
                </a>

                <a href="javascript:void(0);" th:data-uri="@{|/sell/markSold/${sell.id}|}"
                   class="markSold btn btn-sm btn-outline-secondary btn-danger text-white" sec:authorize="isAuthenticated()"
                   th:if="${sell.author != null and #authentication.getPrincipal().getUsername() == sell.author.username and (sell.sellState.name() == 'SELLING' or sell.sellState.name() == 'RESERVED')}">
                    거래완료로 변경
                </a>

                <a href="javascript:void(0);" th:data-uri="@{|/sell/markSelling/${sell.id}|}"
                   class="markSelling btn btn-sm btn-outline-secondary btn-primary text-white" sec:authorize="isAuthenticated()"
                   th:if="${sell.author != null and #authentication.getPrincipal().getUsername() == sell.author.username and sell.sellState.name() != 'SELLING'}">
                    판매중으로 변경
                </a>

            </div>
        </div>
    </div>

    <h5 class="border-bottom my-3 py-2"
        th:text="|${#lists.size(sell.getCommentList)}개의 답변이 있습니다.|"></h5>

    <div class="card my-3" th:each="comment : ${sell.getCommentList}">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${comment.content}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start mx-1">
                    <div class="mb-2">작성자</div>
                    <div th:if="${comment.author != null}" th:text="${comment.author.username}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start mx-1">
                    <div class="mb-2">작성일</div>
                    <div th:text="${#temporals.format(comment.createdAt, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start mx-1">
                    <div class="mb-2">최종 수정일</div>
                    <div th:text="${#temporals.format(comment.updatedAt, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a th:href="@{|/comment/modify/${comment.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.author.username}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/comment/delete/${comment.id}|}"
                   class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${comment.author != null and #authentication.getPrincipal().getUsername() == comment.author.username}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>

    <form th:action="@{|/comment/${sell.id}|}" method="post" th:object="${commentForm}" class="my-3">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" rows="10"
                  class="form-control"></textarea>
        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" rows="10" class="form-control"></textarea>
        <input type="submit" value="답변등록" class="btn btn-primary my-2">
    </form>
</div>
<script layout:fragment="script" type="text/javascript">
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });
    const recommend_elements = document.getElementsByClassName("like");
    Array.from(recommend_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            location.href = this.dataset.uri;
        });
    });

    const markReserved_elements = document.getElementsByClassName("markReserved");
    Array.from(markReserved_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if (confirm("정말로 예약중으로 변경하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });

    const markSold_elements = document.getElementsByClassName("markSold");
    Array.from(markSold_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if (confirm("정말로 거래완료로 변경하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });

    const markSelling_elements = document.getElementsByClassName("markSelling");
    Array.from(markSelling_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if (confirm("정말로 판매중으로 변경하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });
</script>
</html>